{
  "extends": "eslint-config-airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "generator-star-spacing": 0,
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "no-underscore-dangle": 0,
    "no-undef": 1,
    "id-length": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "eqeqeq": [2, "smart"],
    "max-len": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "env": {
    "node": true
  }
}
